<% include ../partials/header %>
    
<header>

    <div class="container">

        <div class="single-item feat-item">
            <% blog.forEach(function(blog){ %>
                <div >
                    <img class="w-1/2" src="<%= blog.image %>">
                </div>
            <% }) %>
                
        </div>
        
            
    </div>

    <a class="buttons" href="/blog/newpost">Add New Blog</a> 

    
</header>



<!-- Flex Container -->
 <div class="card-wrapper">
    <ul class="cards">
        <% blog.forEach(function(blog){ %>
            <li class="cards__item">
                
                <div class="cardv3">
                    <div><img class="post-img" src="<%= blog.image %>"> </div>
                    <div class="card__content">
                        <div class="card__content__wrapper">
                            <h4 class="cardTitle"><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h4>
                            <% if (typeof blog.post == 'undefined' ) { %>
                                <p> no content</p>  
                            <% } else { %>
                                <p> <%- blog.post.substring(0, 150) %>...</p>  
                            <% } %>
                        </div>

                        <a href="/blog/<%= blog._id %>" class="buttons read-more-btn">Read More</a>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
 </div>

 <% include ../partials/about %>




<% include ../partials/footer %>
