<% include ../partials/header %>
    <div class="w-full flex flex-wrap max-w-6xl mx-auto">  
        <h1 class="w-full text-center text-4xl pt-8 tracking-widest"><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h1>       
        <div class="w-full text-center">
                    <div class=" mb-8 rounded-sm">
                        <div class="flex justify-center items-end mb-8">
                            <div class="p-12">
                                <img class="rounded-lg" src="<%= blog.image %>"> 
                            </div>
                            <div class="absolute z-10 bg-white w-1/2 p-8 rounded-t-lg shadow">
                                    <h1 class="w-full text-center mb-2"><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h1> 
                                    <p class="text-gray-400"><em>Submitted by <%= blog.author.username%></em></p>
                            </div>
                        </div>
                        <div class="px-12 card__content rounded-sm max-w-4xl mx-auto">
                                <div class="text-left">
                                    <p class="mb-4"><%- blog.post%></p>
                                    <div class="button-container">
                                        <% if(currentUser && blog.author.id.equals(currentUser._id)) {%>
                                            <a class="blog-button" id="edit-button" href="/blog/<%=blog._id%>/edit">Edit</a>
                                            <form class="delete-form"action="/blog/<%=blog._id %>?_method=DELETE" method="POST">
                                                <button  class="blog-button">Delete</button>   
                                            </form>
                                        <% } %>    
                                       
                                    </div>
                                </div>
                                <button class="button submit-button"><a class="w-1/2" href="/blog/<%= blog._id %>/comments/new">Add Comment</a></button>
                        </div>
                    </div>
            
            <!-- COMMENTS SECTION-->

                <div class="comment">
                    <% if(blog.comments.length > 0) { %> 
                        <hr>
                        <h1 class="mb-4">Comments</h1>
                    <% } %> 
                     <% blog.comments.forEach(function(comment){ %>
                        <div class="flex flex-col justify-start items-start">
                            <p class="text-left mb-2"><%= comment.text %></p>
                            <h2 class="author">Submited by <%= comment.author.username %></h2>
                            <span class="date">10 days ago</span>
                            <div class="button-container comment-buttons">
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                                    <a class="blog-button" href="/blog/<%= blog._id%>/comments/<%= comment._id %>/edit"><i class="fas fa-pen-square"></i></a>
                                    <form class="delete-form"action="/blog/<%= blog._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="blog-button"><i class="fas fa-trash-alt"></i></button>   
                                    </form>
                                <% } %>  
                            </div> 
                                    
                        </div>                
                        
                        
                        

                        <hr>
                        
                        
                
                <% }) %>           
            </div>
        </div>
        
        <!-- ABOUT SECTION-->
        <div class="w-full">
            <% include ../partials/about %> 
        </div>    
    </div>

    



<% include ../partials/footer %>
